doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='assets/css/link.css')
header
  p
    | Go back to 
    a(href='index.html') Home Page
.container
  h1 Beans Stock
  .card-container
    .card
      img(src='assets/images/beans1.jpeg' alt='Kidney Beans')
      .card-content
        h2.card-title Kidney Beans
        p.btn 60tons
    .card
      img(src='assets/images/beans5.jpeg' alt='Black Beans')
      .card-content
        h2.card-title white Beans
        p.btn 60tons
    .card
      img(src='assets/images/beans3.jpeg' alt='Chickpeas')
      .card-content
        h2.card-title Flageolet Beans
        p.btn 90tons
    .card
      img(src='assets/images/beans7.jpeg' alt='Lentils')
      .card-content
        h2.card-title Pug Beans
        p.btn 20tons
    .card
      img(src='assets/images/beans2.jpeg' alt='Lentils')
      .card-content
        h2.card-title Aduki Beans
        p.btn 200tons
    .card
      img(src='assets/images/beans6.jpeg' alt='Lentils')
      .card-content
        h2.card-title Mung Beans
        p.btn 30tons
    .card
      img(src='assets/images/beans8.jpeg' alt='Lentils')
      .card-content
        h2.card-title Mixed Beans
        p.btn 70tons
    .card
      img(src='assets/images/beans4.jpeg' alt='Lentils')
      .card-content
        h2.card-title Navy Beans
        p.btn 40tons
footer(style='background-color:#2c3e50; color: #fff; padding: 20px; text-align: center;')
  div(style='margin-bottom: 10px;')
    span &copy; 2024 Nakungu Esther. All rights reserved.
