doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales Form
    link(rel='stylesheet' href='/css/credit.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  body
    .video-container(style='height: 600px;')
      video(autoplay muted loop)
        source(src='/images/202407310754 (1).mp4' type='video/mp4')
    header
      img(style='width: 40px; height: 40px; border-radius: 50%;' src='/images/download (3).png')
      .agent-profile
        span.agent-name Welcome, Sales Agent
        a(href='/') Logout
    aside.sidebar
      nav
        ul
          li
            a#showSalesFormBtn(href='/sales-form')
              i.fas.fa-shopping-cart(style='padding-right:15px;')
              | Record Sales
          li
            a#showCreditFormBtn(href='#')
              i.fas.fa-credit-card(style='padding-right:15px;')
              | Credit Sales
          li
            a#showCreditFormBtn(href='/mylist')
              i.fas.fa-credit-card(style='padding-right:15px;')
              | Credit List
         
          
          li(style='margin-top: 230px;') 
            a.btn-back(href='javascript:history.back()')
              i.fas.fa-arrow-left(style='padding-right:15px;')
              | Back

    if errorMessage
      .alert.alert-danger
        | #{errorMessage}

    form#creditForm(name='salesForm' onsubmit='return validateCreditForm()' action='/debit' method='POST')
      .form-container
        .form-header
          h1 Credit Sales Form
        .form-row
          .form-column
            label(for='buyerName') Buyer Name:
            input#buyerName(type='text' name='buyerName' )
            small.error#buyerNameError
            label(for='nationalId') National ID (NIN):
            input#nationalId(type='text' name='nationalid' )
            small.error#nationalIdError
            label(for='location') Location:
            input#location(type='text' name='location' )
            small.error#locationError
            label(for='contacts') Contacts:
            input#contacts(type='text' name='contact' )
            small.error#contactsError
            
            // Added fields for payment and amount due
            label(for='totalPayment')  Payment perkg (UGX):
            input#totalPayment(type='number' name='totalPayment' )
            small.error#totalPaymentError

            label(for='amountPaid') Amount Paid (UGX):
            input#amountPaid(type='number' name='amountPaid' )
            small.error#amountPaidError

            label(for='amountDue') Amount Due (UGX):
            input#amountDue(type='text' name='amountDue' readonly)
            small.error#amountDueError
            
            label(for='salesAgent') Sales Agent Name:
            input#salesAgent(type='text' name='salesAgent' )
            small.error#salesAgentError
          .form-column
            label(for='dueDate') Due Date:
            input#dueDate(type='date' name='dueDate' )
            small.error#dueDateError
            label(for='branch') Branch Name:
            select#branch(name='branch' )
              option(value='') Select Branch
              option(value='Maganjo') Maganjo
              option(value='Matugga') Matugga
            small.error#branchError
            label(for='produceName') Produce Name:
            select#produceName(name='produceName' )
              option(value='') Select Produce
              option(value='Rice') Rice
              option(value='Beans') Beans
              option(value='Maize') Maize
              option(value='Cowpeas') Cowpeas
              option(value='Soyabeans') Soyabeans
              option(value='Groundnut') Groundnut
            small.error#produceNameError
            label(for='produceType') Type of Produce:
            select#produceType(name='produceType' )
              option(value='') Select
              option(value='Grain') Grains
              option(value='Cereals') Cereals
              option(value='Legume') Legumes
            small.error#produceTypeError
            label(for='tonnage') Tonnage:
            input#tonnage(type='number' name='tonnage')
            small.error#tonnageError
            label(for='dispatchDate') Date of Dispatch:
            input#dispatchDate(type='date' name='dispatchDate')
            small.error#dispatchDateError
        .form-actions
          button(type='submit') Submit
          button(type='button' onclick='clearForm()') Clear Form
    footer(style='background-color: #2c3e50; color: #fff; padding: 20px; text-align: center; margin-top: 0%;')
      div(style='margin-bottom: 10px;')
        span &copy; 2024 Nakungu Esther. All rights reserved.
    script(src='/js/credit.js')
