doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Credit Sales Form
    link(rel='stylesheet' href='/css/credit.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css')
  body
    .video-container(style='height: 600px;')
      video(autoplay muted loop)
        source(src='/images/202407310754 (1).mp4' type='video/mp4')
    header
      img(style='width: 40px; height: 40px; border-radius: 50%;' src='/images/download (3).png')
      .agent-profile
        span.agent-name Welcome, Sales Agent
        a(href='/') Logout
    aside.sidebar
      nav
        ul
          li
            a#showSalesFormBtn(href='/sales-form')
              i.fas.fa-shopping-cart(style='padding-right:15px;')
              | Record Sales
          li
            a#showCreditFormBtn(href='#')
              i.fas.fa-credit-card(style='padding-right:15px;')
              | Credit Sales
    br
    br
    br
    form(name='salesForm' onsubmit='return validateCreditForm()' action=`/debit/${produce ? procurement._id : ''}` method='POST')
      .form-container
        .form-header
          h1 Credit Sales Form
        .form-row
          .form-column
            label(for='buyerName') Buyer Name:
            input#buyerName(type='text' name='buyerName')
            span.error#buyerNameError
            label(for='nationalId') National ID (NIN):
            input#nationalId(type='text' name='nationalid')
            span.error#nationalIdError
            label(for='location') Location:
            input#location(type='text' name='location')
            span.error#locationError
            label(for='contacts') Contacts:
            input#contacts(type='text' name='contact')
            span.error#contactsError
            label(for='amountDue') Amount Due (UGX):
            input#amountDue(type='text' name='amountDue')
            span.error#amountDueError
            label(for='salesagent') Sales Agent Name:
            input#salesAgent(type='text' name='salesAgent')
            span.error#salesAgentError
          .form-column
            label(for='dueDate') Due Date:
            input#dueDate(type='date' name='dueDate')
            span.error#dueDateError
            label(for='branch') Branch Name:
            select#branch(name='branch')
              option(value='') Select Branch
              option(value='Maganjo') Maganjo
              option(value='Matugga') Matugga
            span.error#branchError
            label(for='produceName') Produce Name:
            select#produceName(type='text' name='produceName')
              option(value='') Select Produce
              option(value='Rice') Rice
              option(value='beans') Beans
              option(value='Maize') Grain Maize
              option(value='cowpeas') Cowpeas
              option(value='soyabeans') Soyabeans
              option(value='gnut') G-nuts
            span.error#produceNameError
            label(for='produceType') Type of Produce:
            input#produceType(type='text' name='produceType')
            span.error#produceTypeError
            label(for='tonnage') Tonnage:
            input#tonnage(type='number' name='tonnage')
            span.error#tonnageError
            label(for='dispatchDate') Date of Dispatch:
            input#dispatchDate(type='date' name='dispatchDate')
            span.error#dispatchDateError
      
        button(type='submit') Submit
    
  footer(style='background-color: #2c3e50; color: #fff; padding: 20px; text-align: center; margin-top: 0%;')
    div(style='margin-bottom: 10px;')
      span &copy; 2024 Nakungu Esther. All rights reserved.
  script(src='/js/credit.js')
   