doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/link.css')
header
  p
    | Go back to 
    a(href='/') Home Page
.container(action='/g.nut_file' method='POST')
  h1 Nuts Stock
  .card-container
    .card
      img(src='/images/nut1.jpeg' alt='Kidney Beans')
      .card-content
        h2.card-title Pine nuts
        p.btn 1000tons
    .card
      img(src='/images/nut2.jpeg' alt='Black Beans')
      .card-content
        h2.card-title Pea nuts
        p.btn 60tons
    .card
      img(src='/images/nut3.jpeg' alt='Chickpeas')
      .card-content
        h2.card-title Cashews nuts
        p.btn 50tons
    .card
      img(src='/images/nut4.jpeg' alt='Lentils')
      .card-content
        h2.card-title Anmond nuts
        p.btn 80tons
    .card
      img(src='/images/nut5.jpeg' alt='Lentils')
      .card-content
        h2.card-title Crude aimond nuts
        p.btn 90tons
    .card
      img(src='/images/nut6.jpeg' alt='Lentils')
      .card-content
        h2.card-title Wal nuts
        p.btn 20tons
    .card
      img(src='/images/nut7.jpeg' alt='Lentils')
      .card-content
        h2.card-title Pistachios nuts
        p.btn 70tons
    .card
      img(src='/images/nut8.jpeg' alt='Lentils')
      .card-content
        h2.card-title Pecans nuts
        p.btn 10tons
footer(style='background-color: #2c3e50; color: #fff; padding: 20px; text-align: center;')
  div(style='margin-bottom: 10px;')
    span &copy; 2024 Nakungu Esther. All rights reserved.
