doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/link.css')
header
  p
    | Go back to 
    a(href='/') Home Page
.container(action='/maize_file', method='POST')
  h1 Maize Stock
  .card-container
    .card
      img(src='/images/maize8.jpeg' alt='Kidney Beans')
      .card-content
        h2.card-title white maize
        p.btn 1000tons
    .card
      img(src='/images/maize6.jpeg' alt='Black Beans')
      .card-content
        h2.card-title Hopi Blue Maize
        p.btn 60tons
    .card
      img(src='/images/maize4.jpeg' alt='Chickpeas')
      .card-content
        h2.card-title Pop Maize
        p.btn 50tons
    .card
      img(src='/images/maize2.jpeg' alt='Lentils')
      .card-content
        h2.card-title Sweet Maize
        p.btn 80tons
    .card
      img(src='/images/maize5.jpeg' alt='Lentils')
      .card-content
        h2.card-title Flour Maize
        p.btn 90tons
    .card
      img(src='/images/maize3.jpeg' alt='Lentils')
      .card-content
        h2.card-title Flint Maize
        p.btn 20tons
    .card
      img(src='/images/maize1.jpeg' alt='Lentils')
      .card-content
        h2.card-title Dent Maize
        p.btn 70tons
    .card
      img(src='/images/maize4.jpeg' alt='Lentils')
      .card-content
        h2.card-title Pop Maize
        p.btn 10tons
footer(style='background-color: #2c3e50; color: #fff; padding: 20px; text-align: center;')
  div(style='margin-bottom: 10px;')
    span &copy; 2024 Nakungu Esther. All rights reserved.
