doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Revenue Reports
  link(rel='stylesheet' href='/css/report.css')
.container
  h2.text-center.mt-5.mb-4 Revenue Reports
  .row
    .column
      h4.mb-5 Grains Report
      .card-custom(style='width: 22rem;')
        .card-body
          h6 Quantity in Stock:
          h6 Total Expense:
          h6 Projected Revenue:
          h6 Projected Profits:
          p.card-text
    .column
      h4.mb-5 Legumes Report
      .card-custom(style='width: 22rem;')
        .card-body
          h6 Quantity in Stock:
          h6 Total Expense:
          h6 Projected Revenue:
          h6 Projected Profits:
          p.card-text
    .column
      h4.mb-5 Cereals Report
      .card-custom(style='width: 22rem;')
        .card-body
          h6 Quantity in Stock:
          h6 Total Expense:
          h6 Projected Revenue:
          h6 Projected Profits:
          p.card-text      
  .form-row
    .form-group
      br
      form.search(action='/reports' method='POST')
        .form-row
          .column
            select.form-control(name='searchProduce')
              option(value='') (Select produce)
              option(value='beans') Beans
              option(value='maize') Maize
              option(value='cowpeas') Cowpeas
              option(value='rice') Rice
              option(value='soyabeans') Soya Beans
          .column
            input.btn(type='submit' value='Search')
  table.table
    thead
      tr
        th(scope='col') Produce Name
        th(scope='col') Tonnage (Kg)
        th(scope='col') Produce cost per Kg (UGX)
        th(scope='col') Revenue Projected (UGX)
        th(scope='col') Profits Projected (UGX)
    tbody
      // Data rows go here
script(src='/bootstrap.js')
