doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='assets/css/link.css')
header
  p
    | Go back to 
    a(href='index.html') Home Page
.container
  h1 Soya Stock
  .card-container
    .card
      img(src='assets/images/soya 8.jpeg' alt='Kidney Beans')
      .card-content
        h2.card-title Songda Soya
        p.btn 1000tons
    .card
      img(src='assets/images/soya1.jpeg' alt='Black Beans')
      .card-content
        h2.card-title Afayak Soya
        p.btn 60tons
    .card
      img(src='assets/images/soya2.jpeg' alt='Chickpeas')
      .card-content
        h2.card-title Green Soya
        p.btn 50tons
    .card
      img(src='assets/images/soya3.jpeg' alt='Lentils')
      .card-content
        h2.card-title Quarshine soya
        p.btn 80tons
    .card
      img(src='assets/images/soya4.jpeg' alt='Lentils')
      .card-content
        h2.card-title Solintuya Soya
        p.btn 90tons
    .card
      img(src='assets/images/soya5.jpeg' alt='Lentils')
      .card-content
        h2.card-title Suong-pungun soya
        p.btn 20tons
    .card
      img(src='assets/images/soya6.jpeg' alt='Lentils')
      .card-content
        h2.card-title Protein Soya
        p.btn 70tons
    .card
      img(src='assets/images/soya7.jpeg' alt='Lentils')
      .card-content
        h2.card-title Bean Ssoya
        p.btn 10tons
footer(style='background-color:#2c3e50; color: #fff; padding: 20px; text-align: center;')
  div(style='margin-bottom: 10px;')
    span &copy; 2024 Nakungu Esther. All rights reserved.
