
/* header */



.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

/* Styling for the pie chart container */
.chart-container {
  flex: 1;
  width: 50px;
  
}


/* Styling for the video */
.video-container {
  flex: 1;
  max-width: 50%;
}

/* Ensures the video and chart are well aligned */
.fullscreen-video {
  width: 100%;
  height: auto;
  background-color: #FF6500;
}
  
  body {
    font-family: Arial, sans-serif;

  }


 




/*--main*/

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
h1, h2 {
    color: #333;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    
}
/*buttons*/
.button {
      margin-top: 20px;
    text-align: center;  

}
.button button {
    padding: 10px 15px;
    border: none;
    background-color:hsl(123, 100%, 50%);
    color: white;
    cursor: pointer;
     margin-right: 10px; 
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.button button:hover {
    background-color: hsl(295, 100%, 35%);
}
.activity-log, .sales-records, .stock-levels {
    margin-top: 20px;
}
.activity-log ul, .sales-records ul, .stock-levels ul {
    list-style-type: none;
    padding: 0;
}
.activity-log li, .sales-records li, .stock-levels li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

